@charset "utf-8";

@import "common.css";

@page {
    size: A4;
    margin: 15mm;
}

.report-page {
    width: 794px;
    margin: 0 auto;
}

.report-content {
    width: 740px;
    margin: 0 auto;
}

.title {
    color: #000;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    padding-top: 65px;
}

.head_table {
    margin-top: 60px;
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.head_table th {
    background: rgba(194, 174, 233, 0.6); 
    border: 1px solid #000;
    width: 182px;
    padding: 5px 0;
}

.head_table td {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 285px;
    font-weight: 400;
    padding: 5px 0;
}

.head_table tr td:last-child {
    border-right: 1px solid #000;
}

.result {
    text-align: right;
    margin: 11px 0;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.content_table {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.content_table th {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background: rgba(194, 174, 233, 0.6);
    padding: 10px 0;
    border: 1px solid #000;
}

.content_table td {
    font-size: 14px;
    font-weight: 600;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 58px;
}

.content_table tr td:first-child {
    border-left: 1px solid #000;
}

.content_table tr td:nth-child(2) {
    text-align: left;
    padding: 0 8px;
    font-weight: 400;
}

.content_table tr:last-child {
    height: 400px;
}

.sign_table {
    width: 100%;
    font-size: 18px;
    border: 1px solid #000;
    margin-bottom: 100px;
    height: 50px;
}

.sign_table th {
    width: 120px;
    border-right: 1px solid #000;
    font-weight: bold;
}

.sign_table tr th:nth-child(3) {
    border-left: 1px solid #000;
}

.sign_table td {
    width: 347px;
    text-align: right;
    font-weight: 500;
    padding-right: 30px;
}

.report-evidence {
    text-align: center;
}

.report-evidence h2 {
    display: inline-block;
    font-size: 34px;
    font-weight: 800;
    border-bottom: 3px solid #000;
    margin-bottom: 20px;
    line-height: 100%;
}

.report-evidence h3 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0 15px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.report-evidence h3 span {
    margin-top: 2px;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid #171717;
}

.report-evidence dl {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #171717;
}

.report-evidence dl:last-child {
    border-bottom: none;
}

.report-evidence .dl_01 {
    border-top: 3px solid #171717;
}

.report-evidence dl dt {
    min-width: 67.55px;
    background: rgba(194, 174, 233, 0.6);
    height: -webkit-fill-available;
    display: grid;
    align-items: center;
    justify-self: center;
    font-size: 16px;
    font-weight: 600;
}

.report-evidence dl dd {
    width: 100%;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

.report-evidence dl:first-child dd {
    padding: 10px;
}

.report-evidence dt:first-child {
    border-right: 1px solid #171717;
}

.report-evidence .img_box dd {
    height: 400px;
}

.report-evidence dl:last-child dd {
    padding: 10px;
}

.step2_evidence {
    border: 3px solid #171717;
}

.photo_box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 1.5%;
    padding: 10px;
}

.photo_box .box {
    width: 49%;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid #e1e1e1;
}

.photo_box .box img {
    width: 100%;
    height: 100%;
}

.step2_evidence .remark_box {
    height: 150px;
}

.type2 {
    margin-top: 100px;
}

.report-evidence .atc {
    border: 3px solid #171717;
    margin-bottom: 10px;
}

.step1_evidence {
    border: 3px solid #171717;
    margin-bottom: 20px;
}

.step1_evidence .photo_box .box {
    height: initial;
    width: 49.8%;
}

.step1_evidence .photo_box img {
    height: 210px;
}

.step1_evidence .photo_box {
    padding: initial;
    gap: 0 2px;
}

.step1_evidence .photo_box h4 {
    font-size: 12px;
    color: #171717;
    font-weight: 400;
    text-align: center;
}

@media print {
    @page {
        size: A4;
        margin: 20mm;
    }

    /* 이 박스는 무조건 새 페이지 시작할 때 놓고 싶다 */
    .force-new-page {
        break-before: page;        /* 최신 문법 */
        page-break-before: always; /* 구 문법 (호환용) */
    }

    /* 박스가 둘로 쪼개지지 않게(한 페이지에 통째로) */
    .block-no-split {
        break-inside: avoid;        /* 최신 문법 */
        page-break-inside: avoid;   /* 구 문법 (호환용) */
    }
}